name: tests

on:
  pull_request:
    branches: [ "master", "develop" ]

permissions:
  contents: read

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        version: "0.10.2"
    - name: Set up Python
      run: uv python install
    - name: install
      run: uv sync --group test
    - name: tests
      run: uv run pytest
